* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /*font-family: "Goudy Bookletter 1911", sans-serif;*/
  font-family: "Georgia";
}
body {
  background-color: rgb(226, 60, 143);
  color: white;
}
.header {
  padding: 20px;
  background-color: #373b3c;
  color: #ffffff;
}

.header h1 {
  display: inline-block;
  font-size: 48px;
}

/* Lawrence header last name bolder text*/
header h1 .last-name {
  font-weight: bolder;
}

/* Values for unordered list in header */
.header nav {
  display: flex;
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-size: 25px;
}

/* List-style-type: none removes any type of bullet icon from unordered list at top right */
.header nav ul {
  list-style-type: none; 
}

.header nav ul li {
  display: inline-block;
  margin-left: 45px;
  /*display: flex;*/
  flex-wrap: ;
  /* Defines how to distribute the empty space between child elements 
  justify-content: space-between;*/
}

a {
  color: #ffffff;
  text-decoration: none;
}

.picture {
  height: auto;
  max-width: 100%; 
  margin-bottom: -100px;*/
  background-image: url("../images/pink-flowers-avatar.jpg");*/
  background-size: cover;
  background-position: center;
  position: relative;
  flex: 1 0 200px;
}

.subtitle {
  float: right;
  margin-left: 35px;
  height: 290px;
  width: 100%;
  flex: 1 0 200px;
}

/*.container {
  margin-bottom: 20px;
  padding: 50px;
  height: 100px;
  background-color: #373b3c;
  color: #ffffff;
  padding: 20px;
} */

/* .container {
  /* A flex-basis of 200px sets the starting width */
  /* A flex-grow value of 1 allows the elements to evenly grow to fill the remaining space 
  flex: 1 0 200px; 
  padding: 10px;
  text-align: right;
  border-style: solid; 
  border-width: 1px;
  background-color: #373b3c;
} */

.bottom-right {
  position: relative;
  /*text-align: right; 
  color: white;*/
  top: -60px;
  right: -800px;
  font-size: x-large;
  font-weight: bolder;
  
}
/* How To Position Text Over an Image, n.d.). */

.content {
  width: 750px;
  display: inline-block;
  margin-left: 450px; 
}

/*.text-left {
  margin-bottom: 20px;
  padding: 150px;
  height: 300px;
  color: #ffffff;
  font-size: 55px;
  text-align: left;
} 

.about-me h2,
.work h2,
.contact-me h2 {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  color: #ffffff;
  font-size: 55px;
  text-align: left;
}*/

#about-me {
  /*border-left: 6px solid #373b3c;
  height: 300px;
  /*position: absolute;
  text-align: left; */
  left: 50%;
  margin-left: -150px;
  top: 100;
  font-size: 25px;
} 

#work {
  /*border-left: 6px solid #373b3c;
  height: 300px;
  position: absolute;*/
  left: 50%;
  margin-left: -150px;
  top: 100;
  font-size: 25px;
} 

#contact-me {
  /*border-left: 6px solid #373b3c;
  height: 100px;*/
  /*position: absolute;*/
  left: 50%;
  margin-left: -150px;
  top: 100;
  font-size: 25px;
} 
/* How to Vertical Line, n.d.). */

.content text-left {
  /*border-left: 6px solid #373b3c;
  height: 300px;
  /*position: absolute;*/
  /*float: right;*/
  margin-left: -150px;
  top: 100;
  font-size: 15px;
} 

/*.content text-left {
  /*border-left: 6px solid #373b3c;
  height: 300px;
  position: absolute;
  float: right;
  left: 50%;
  margin-left: -250px;
  top: 100;
  font-size: 15px;*/
} 

.content text-left {
  /*border-left: 6px solid #373b3c;
  height: 100px;*/
  position: absolute;
  float: right;
  left: 50%;
  margin-left: -250px;
  top: 100;
  font-size: 15px;
} 

section nav ul li {
  list-style-type: none; 
  display: inline-block;
  margin-right: 75px;
}

@media screen and (max-width: 768px) {
  header,
  main {
    flex-direction: column;
  }

   {
    padding-right: 0;
  }

  section {
    width: 100%;
    text-align: center;
  }
}